<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div th:replace="nav.html"></div>
<br>
<h1 class="text-center"> liste des clients</h1>
<table class="table table-bordered">
<thead>
<tr>
<th>destination</th>
<th>superviseur</th>
<th>date</th>
<th>Prix</th>
<th>Description</th>
<th>Action</th>
</tr>
</thead>
<tbody>
<tr th:each="c: ${clients}">
<td th:text="${c.nom}"></td>

<td th:text="${c.prenom}"></td>
<td th:text="${c.email}"></td>
<td th:text="${c.tel}"></td>

<td th:text="${c.age}"></td>
<td >delete</td>


</tr>


</tbody>
</table>
</body>
</html>